In [1]:
a = 7 #global variable

def abc():
    a = 8 # local variable
    return a

print(abc())# call function and return local variable value
print(a)

8
7

In [5]:
a = 7 #global variable
b = 1

def abc():
    global a # update gobal variable using global keyword 
    a = 8 
    b = 20
    return a, b

print(abc())# call function and return local variable value
print(a,b)

(8, 20)
8 1

In [15]:
a = 7 #global variable
b = 1 # global variable


def abc():
    a = 8
    b = 20
    global c
    c = "Pakistan"
    return a, b , c

print(abc())# call function and return local variable value
print(a,b,c)

(8, 20, 'Pakistan')
7 1 Pakistan

In [9]:
a = 7 #global variable


def abc():    
    a = 8
    
    return a

def xyz():
    return a

print(abc())# call function and return local variable value
print(xyz())

8
7

In [11]:
a = 7 #global variable


def abc():    
    a = 8
    global a
    return a

def xyz():
    return a

print(abc())# call function and return local variable value
print(xyz())

SyntaxError: name 'a' is assigned to before global declaration (<ipython-input-11-ab5bd697d2ee>, line 9)

In [14]:
a = 7 #global variable


def abc():    
    global a
    a = 8    
    return a

def xyz():
    return a

print(abc())# call function and return local variable value
print(xyz())

8
8

In [10]:
a = 7 #global variable


def abc():
    global a
    a = 8
    return a

def xyz():
    return a

print(abc())# call function and return local variable value
print(xyz())

8
8

In [8]:
a = 7 #global variable
b = 1 # global variable/ we can also access in any position
z = "XYZ"

def abc():    
    return z

print(abc())# call function and return local variable value
print(z)

XYZ
XYZ

In [ ]:
x = """
pakistan
zinda
bad
"""

def xyz(x):
    x = str(x)

In [16]:
a = 5
b = 5

a == b # compair values

True

In [25]:
a = 5
b = 5

a is b # compair values

True

In [17]:
a is b # compaire object

True

In [18]:
xyz = 7
abc = 7

print(id(xyz)) # same object
print(id(abc)) # same object

94053716665280
94053716665280

In [22]:
xyz = 7
abc = 5

print(id(xyz)) # same object
print(id(abc)) # same object

94053716665280
94053716665216

In [23]:
xyz is abc

False

In [24]:
a = "1"
b = 1

a == b

False

# Nested condition

In [33]:
course = "AI"

q1t1 = "ai for everyone"
q1t2 = "python1 test"
q1t3 = "python2 test"

if course=="AI":
    if q1t1 == "ai for everyone" and q1t3 == "python2 test":
        print("attempt 1st and last quiz")
    elif q1t2 == "python1 test1":
        print("attempt 1st and 2nd quiz")
    elif q1t1 =='Pakistan':
        print("Pakistan zinda bad")
    else:
        print("not attempt any quiz")
else:
    print("He/she is not AI student")

attempt 1st and last quiz

In [36]:
x = '''
a = 7
b = 8
print(a+b)
'''

result = compile(x,"aaa",'exec')
exec(result)

15

In [37]:
exec(result)

15

In [41]:
numbers = [1,2,3,4,5,5,5]
print(numbers)
del numbers[-2]
print(numbers)

[1, 2, 3, 4, 5, 5, 5]
[1, 2, 3, 4, 5, 5]

In [44]:
numbers = [1,2,3,4,5,5,5]
list(set(numbers))

[1, 2, 3, 4, 5]

In [45]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " +a_last_name)
        
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [46]:
names = ["Qasim","Asif","Hamza"]
tests = ['Ai for everyone',"python test1","python test2"]

result = []
for name in names:
    for test in tests:
        result.append(name+" "+test)
        
result

['Qasim Ai for everyone',
 'Qasim python test1',
 'Qasim python test2',
 'Asif Ai for everyone',
 'Asif python test1',
 'Asif python test2',
 'Hamza Ai for everyone',
 'Hamza python test1',
 'Hamza python test2']

In [48]:
d = {"id":1,
    "name":"Muhammad Qasim",
    "fname":"Muhammad Aslam",
    "education":"MSDS",
    'age':30}

d

{'id': 1,
 'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'education': 'MSDS',
 'age': 30}

In [50]:
for abc in d: # return keys
    print(abc)

id
name
fname
education
age

In [57]:
d.keys()

dict_keys(['id', 'name', 'fname', 'education', 'age'])

In [58]:
d.values()

dict_values([1, 'Muhammad Qasim', 'Muhammad Aslam', 'MSDS', 30])

In [59]:
d.items()

dict_items([('id', 1), ('name', 'Muhammad Qasim'), ('fname', 'Muhammad Aslam'), ('education', 'MSDS'), ('age', 30)])

In [56]:
for abc in d.keys(): # return keys
    print(abc)

id
name
fname
education
age

In [52]:
for abc in d.values(): # return keys
    print(abc)

1
Muhammad Qasim
Muhammad Aslam
MSDS
30

In [53]:
for abc in d.items(): # return keys
    print(abc)

('id', 1)
('name', 'Muhammad Qasim')
('fname', 'Muhammad Aslam')
('education', 'MSDS')
('age', 30)

In [55]:
k,v = ('id', 1)
print(k)
print(v)

id
1

In [54]:
for k,v in d.items(): # return keys
    print(k,v)

id 1
name Muhammad Qasim
fname Muhammad Aslam
education MSDS
age 30

# list of dictionary

In [60]:
students = [
    {"id":1,
    "name":"Qasim"},
    
    {"id":2,
    "name":"Asif"},
    
    {"id":3,
    "name":"Ali"}
]

In [61]:
students[0]

{'id': 1, 'name': 'Qasim'}

In [62]:
students[0]["name"]

'Qasim'

In [64]:
new_st = {"id":4,
          "name":"Konain"
         }

students.append(new_st)

students

[{'id': 1, 'name': 'Qasim'},
 {'id': 2, 'name': 'Asif'},
 {'id': 3, 'name': 'Ali'},
 {'id': 4, 'name': 'Konain'}]

In [65]:
students[0]['skills'] = ["python",'tensorflow','aws cli']
students

[{'id': 1, 'name': 'Qasim', 'skills': ['python', 'tensorflow', 'aws cli']},
 {'id': 2, 'name': 'Asif'},
 {'id': 3, 'name': 'Ali'},
 {'id': 4, 'name': 'Konain'}]

In [66]:
students[0]['skills']

['python', 'tensorflow', 'aws cli']

In [67]:
students[0]['skills'][1]

'tensorflow'

In [70]:
qasim = {
    "name":"Muhammad Qasim",
    "fname":"Muhammad Aslam",
    "skills":["python","AI"],
    
    "job experience":{"VTI":"7 years",
                     "MITI":"5 years"}
}
    
qasim['job experience']

{'VTI': '7 years', 'MITI': '5 years'}

In [71]:
qasim['job experience']['MITI']

'5 years'

Paradiam 
1. linear programming
2. structure/procedural/control_block/sub_routing
3. Object oriented programming

In [73]:
print("pakistan zinda bad!")
print("pakistan zinda bad!")
print("pakistan zinda bad!")
print("pakistan zinda bad!")
print("pakistan zinda bad!")
print("pakistan zinda bad!")
print("pakistan zinda bad!")
print("pakistan zinda bad!")
print("pakistan zinda bad!")
print("pakistan zinda bad!")

pakistan zinda bad!
pakistan zinda bad!
pakistan zinda bad!
pakistan zinda bad!
pakistan zinda bad!
pakistan zinda bad!
pakistan zinda bad!
pakistan zinda bad!
pakistan zinda bad!
pakistan zinda bad!

In [74]:
for i in range(10):
    print("pakistan zinda bad")

pakistan zinda bad
pakistan zinda bad
pakistan zinda bad
pakistan zinda bad
pakistan zinda bad
pakistan zinda bad
pakistan zinda bad
pakistan zinda bad
pakistan zinda bad
pakistan zinda bad

In [75]:
def qasim_speak():
    pass
def qasim_listing():
    pass
def qasim_eating():
    pass


def ali_speak():
    pass
def ali_listing():
    pass
def ali_eating():
    pass