In [ ]:
{
  key1:value1,
  key2:value2,
  key3:value3,
  ...
}

# always start and with { }
# key and values 
# : seperator between key and value
# , seprator between key:value pair
# key data types always should be int or string
# value data types can be any types

In [ ]:
#    0       1      2   3      4
a=['Qasim','Aslam',30,'MSDS',['AI',"ML","cloud computing"]]
# we will replace indexes with keys
a[3]

In [3]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',
    'skills':['AI',"ML",'cloud computing'],
    0:"Pakistan"
}
data

{'name': 'Qasim',
 'fname': 'Aslam',
 'age': 30,
 'qualification': 'MSDS',
 'skills': ['AI', 'ML', 'cloud computing'],
 0: 'Pakistan'}

## How to access value from dictionary
* dictname['key']

In [4]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',
    'skills':['AI',"ML",'cloud computing'],
    0:"Pakistan"
}
print(type(data))
data

<class 'dict'>

{'name': 'Qasim',
 'fname': 'Aslam',
 'age': 30,
 'qualification': 'MSDS',
 'skills': ['AI', 'ML', 'cloud computing'],
 0: 'Pakistan'}

In [6]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',
    'skills':['AI',"ML",'cloud computing'],
    0:"Pakistan"
}

data['name']

'Qasim'

In [7]:
data[0]

'Pakistan'

In [10]:
data = {
    'names':['Qasim',"Ali","Nasir"],
    'fnames':['Aslam',"Anees","Abdullah"],
    'courses':['AI',"ML","DS"]
}
data

{'names': ['Qasim', 'Ali', 'Nasir'],
 'fnames': ['Aslam', 'Anees', 'Abdullah'],
 'courses': ['AI', 'ML', 'DS']}

In [11]:
import pandas as pd

df = pd.DataFrame(data)
df

   names    fnames courses
0  Qasim     Aslam      AI
1    Ali     Anees      ML
2  Nasir  Abdullah      DS

In [14]:
data = {}

data['name'] = "Muhammad Hamza" # add key value1
data['fname'] = "Aslam" # add key value 2
data['course'] = "A.I" # 
data['name'] = "Muhammad Hamza Ali"
data['name'] = data['name']+" AI student"

data

{'name': 'Muhammad Hamza Ali AI student', 'fname': 'Aslam', 'course': 'A.I'}

In [15]:
data['course']

'A.I'

In [16]:
dir(data)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [17]:
data = {}

data['name'] = "Muhammad Hamza" # add key value1
data['fname'] = "Aslam" # add key value 2
data['course'] = "A.I" # 
data['name'] = "Muhammad Hamza Ali"
data['name'] = data['name']+" AI student"

print(data)
data.clear() # clear/empty but oject exist 
print(data)

{'name': 'Muhammad Hamza Ali AI student', 'fname': 'Aslam', 'course': 'A.I'}
{}

In [19]:
data = {}

data['name'] = "Muhammad Hamza" # add key value1
data['fname'] = "Aslam" # add key value 2
data['course'] = "A.I" # 
data['name'] = "Muhammad Hamza Ali"
data['name'] = data['name']+" AI student"

print(data)
del data # delete object
print(data)

{'name': 'Muhammad Hamza Ali AI student', 'fname': 'Aslam', 'course': 'A.I'}

NameError: name 'data' is not defined

In [24]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    
}

data1 = data # shallow copy
data2 = data
data3 = data

data2['name']="Muhammad Qasim"

print(data)
print(data1)
print(data2)
print(data3)

{'name': 'Muhammad Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Muhammad Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Muhammad Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Muhammad Qasim', 'fname': 'Aslam', 'age': 30}

In [22]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
}

data1 = data.copy() # deep copy

data1['name']="Muhammad Qasim"

print(data)
print(data1)

{'name': 'Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Muhammad Qasim', 'fname': 'Aslam', 'age': 30}

### from keys

In [25]:
keys = ['id','name','fname','course','timing','address']

dict.fromkeys(keys)

{'id': None,
 'name': None,
 'fname': None,
 'course': None,
 'timing': None,
 'address': None}

In [27]:
keys = ['id','name','fname']


dict.fromkeys(keys,'empty')

{'id': 'empty', 'name': 'empty', 'fname': 'empty'}

### get

In [28]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',
    'skills':['AI',"ML",'cloud computing'],
    0:"Pakistan"
}

data['contact']

KeyError: 'contact'

In [29]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',
    'skills':['AI',"ML",'cloud computing'],
    0:"Pakistan"
}

data.get('name')

'Qasim'

In [30]:
data.get('contact')

In [35]:
data.get('contact',"not available")

'not available'

In [36]:
data

{'name': 'Qasim',
 'fname': 'Aslam',
 'age': 30,
 'qualification': 'MSDS',
 'skills': ['AI', 'ML', 'cloud computing'],
 0: 'Pakistan'}

In [33]:
200*15*60*24

4320000

In [34]:
200*15*60*4

720000

# item, keys, values

In [39]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
data

{'name': 'Qasim', 'fname': 'Aslam', 'age': 30, 'qualification': 'MSDS'}

In [40]:
data.items()

dict_items([('name', 'Qasim'), ('fname', 'Aslam'), ('age', 30), ('qualification', 'MSDS')])

In [41]:
data.keys()

dict_keys(['name', 'fname', 'age', 'qualification'])

In [42]:
data.values()

dict_values(['Qasim', 'Aslam', 30, 'MSDS'])

In [47]:
for v in data.values():
    print(v)

Qasim
Aslam
30
MSDS

In [49]:
for k in data.keys():
    print(k)

name
fname
age
qualification

In [58]:
k = "Pakistan"
for k in ['name','age']:
    print(data[k])
    
    
print(k)

Qasim
30
age

In [60]:
a = 20# global

def abc():
    a = 50 #local
    print(a)
    
    
abc()
print(a)

50
20

In [55]:
for i in data.items():
    print(i)

('name', 'Qasim')
('fname', 'Aslam')
('age', 30)
('qualification', 'MSDS')

In [57]:
for k,v in data.items():
    print(k,v)

name Qasim
fname Aslam
age 30
qualification MSDS

In [56]:
a, b = (200,300)

print(a,b)

200 300

In [44]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for 10 in []:
    print(10)
#1
#2
#3
#4
#5
#6
#7
#8
#9
#10

In [61]:
a = print('Pakistan')# non-return function
print(a)

Pakistan
None

In [62]:
a = len('Pakistan')# Return function
print(a)

8

In [63]:
a = type('Pakistan')# Return function
print(a)

<class 'str'>

### pop

In [66]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
del data['name']
data

{'fname': 'Aslam', 'age': 30, 'qualification': 'MSDS'}

In [67]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
a = del data['name']
print(a)
data

SyntaxError: invalid syntax (<ipython-input-67-1d5a77c8cec9>, line 8)

In [68]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
a = data.pop("name")# return function
print(a)
print(data)

Qasim
{'fname': 'Aslam', 'age': 30, 'qualification': 'MSDS'}

In [69]:
completed_list = []

data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
a = data.pop("name")# return function
b = data.pop("age")

completed_list.append(a)
completed_list.append(b)
print(a)
print(data)
print(completed_list)

Qasim
{'fname': 'Aslam', 'qualification': 'MSDS'}
['Qasim', 30]

In [73]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
a = data.popitem()# return function
print(a)
print(data)

('qualification', 'MSDS')
{'name': 'Qasim', 'fname': 'Aslam', 'age': 30}