# Functions
* function declair/define
    * function name
    * arguments
* function body
    * set of statement
* function calling
    * name()
    * pass arguments
    
## pre-define

## user-define

## return
* if store output in variable
## Non-return
* if not store output in variable
## defualt 
* not required any argument when we call
## required arguments
* function will not work without it
## optional arguments
* if we did'nt provide it function will also work with some defualt arguments value
## Generator function
* generate value one by one
* alway remember old generated value
## Lambda function
* one line function
* it has no name
* one time use only

## Recursive function
* it call in own body

# Pre-Define functions

In [6]:
print("Hello") # function calling
print(len("Hello"))# function calling
print(id("Hello"))# function calling

Hello
5
140205416707568

# Return/None-return function

In [3]:
a = print("Pakistan zinda bad!") # none-return
print(a)# unable to store value in variable

Pakistan zinda bad!
None

In [4]:
a = id("Pakistan zinda bad")# return
print(a) #successfully store in variable

140205400903232

In [5]:
a = len("Pakistan zinda bad")# return
print(a)

18

# User define function
```
def function_word(arg1, arg2,..):
    statement1
    statement2
   
function_word(arg1, arg2)
```

In [7]:
def piaic_introduction(): # function declair
    print("PIAIC")# statement1
    print('courses')#2
    print("\t AI")#3
    print("\t Blockchain")#
    
    
piaic_introduction()

PIAIC
courses
	 AI
	 Blockchain

In [8]:
piaic_introduction()

PIAIC
courses
	 AI
	 Blockchain

In [12]:
def piaic_introduction(): # function declair
    txt = """
    PIAIC
    Course offer
        AI
        Blockchain
        Cloud computing
        Metaverse
    """
    return txt
    
    
print(piaic_introduction())# return function

    PIAIC
    Course offer
        AI
        Blockchain
        Cloud computing
        Metaverse

In [13]:
print(piaic_introduction())
print(piaic_introduction())

    PIAIC
    Course offer
        AI
        Blockchain
        Cloud computing
        Metaverse


    PIAIC
    Course offer
        AI
        Blockchain
        Cloud computing
        Metaverse

# required arguments

In [15]:
def addtion(num1, num2):
    return num1 + num2

print(addtion(7,20))
print(addtion(5,20))
print(addtion(6,9))

27
25
15

In [16]:
addtion(7)

TypeError: addtion() missing 1 required positional argument: 'num2'

# Optional arguments

In [18]:
def addtion(num1=0, num2=0): #arg=value
    return num1 + num2

print(addtion())
print(addtion(1))
print(addtion(2,3))

0
1
5

# required and optional arguments

In [25]:
def making_biryani(rice,meat, tamato="0.5 KG"):
    txt = f"""
    Boiling {rice} rice...
    making qorma with {meat} meat...
    mixing tamato {tamato}...
    Now you enjoy biryani :)
    """
    
    return txt

a = making_biryani("Sehla",'chiken')
print(a)
print(a)
print(a)

    Boiling Sehla rice...
    making qorma with chiken meat...
    mixing tamato 0.5 KG...
    Now you enjoy biryani :)


    Boiling Sehla rice...
    making qorma with chiken meat...
    mixing tamato 0.5 KG...
    Now you enjoy biryani :)


    Boiling Sehla rice...
    making qorma with chiken meat...
    mixing tamato 0.5 KG...
    Now you enjoy biryani :)

In [24]:
print(print("Pakistan"))

Pakistan
None

In [26]:
print(making_biryani("Basmati",'beaf','1 KG'))

    Boiling Basmati rice...
    making qorma with beaf meat...
    mixing tamato 1 KG...
    Now you enjoy biryani :)

# optional argument2 unlimited

In [33]:
def my_sum(num1,*num): # *num 
    print(num1,num)
    return num1 + sum(num)

my_sum(7,2,2,3,4,5)

7 (2, 2, 3, 4, 5)

23

In [2]:
num = (2,2,3,4,5)
7 + num

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [3]:
import numpy as np
num = np.array((2,2,3,4,5))
7 + num

array([ 9,  9, 10, 11, 12])

In [1]:
def my_sum(num1,*num): # *num 
    print(num1,num)
    
    result = num1 # resutl = 7+2+2+3+4+5=23
    
    for n in num:
        result += n
        
    
    
    return result

my_sum(7,2,2,3,4,5)

7 (2, 2, 3, 4, 5)

23

In [34]:
def my_sum(num1,num2,*num): # *num 
    print(num1,num2,num)
    return num1 + num2 +sum(num)

my_sum(7,2,2,3,4,5)

7 2 (2, 3, 4, 5)

23

In [35]:
def my_sum(*num): # *num during define = tuple
    print(num)
    return sum(num)

my_sum(7,2,2,3,4,5)

(7, 2, 2, 3, 4, 5)

23

In [36]:
a, b = [20,25] # unzip
print(a)
print(b)

20
25

In [41]:
l = [1,20,30,50,100]
print(l[0],l[1],l[2],l[3],l[4])
print(*l) #during call * before iterated datatype = unzip values
print(1,20,30,50,100)
print(l)

1 20 30 50 100
1 20 30 50 100
1 20 30 50 100
[1, 20, 30, 50, 100]

In [43]:
my_sum(*l)

(1, 20, 30, 50, 100)

201

In [53]:
def my_new_sum(num1,num2,num3,num4):
    return num1 + num2 + num3 + num4

l = [10,20,30,40]

# my_new_sum(*l)
# my_new_sum(l[0],l[1],l[2],l[3])
my_new_sum(50,l[0],*l[-2:])

130

In [57]:
print(50,l[0],l[-2:])
print(50,l[0],*l[-2:])

50 10 [30, 40]
50 10 30 40

# calling function with keyword arguments

In [61]:
def student_card(rollno, name, fname, course):
    card = f"""
    PIAIC Student idientity card
    Roll no: {rollno}
    Name: {name} , Fathre's Name: {fname}
    course: {course}
    """
    
    return card

print(student_card(1,'Hamza',"Abid","AI"))
print(student_card(2,'Konain',"Rashid","AI"))

    PIAIC Student idientity card
    Roll no: 1
    Name: Hamza , Fathre's Name: Abid
    course: AI


    PIAIC Student idientity card
    Roll no: 2
    Name: Konain , Fathre's Name: Rashid
    course: AI

In [63]:
def student_card(rollno, name, fname, course):
    card = f"""
    PIAIC Student idientity card
    Roll no: {rollno}
    Name: {name} , Fathre's Name: {fname}
    course: {course}
    """
    
    return card

print(student_card("muhammad qasim","muhammad Aslam",12, "AI"))

    PIAIC Student idientity card
    Roll no: muhammad qasim
    Name: muhammad Aslam , Fathre's Name: 12
    course: AI

In [64]:
print(student_card(name="muhammad qasim",fname="muhammad Aslam",rollno=12, course="AI"))

    PIAIC Student idientity card
    Roll no: 12
    Name: muhammad qasim , Fathre's Name: muhammad Aslam
    course: AI

In [66]:
l = [1,"Muhammad Qasim","Muhammad Aslam","AI"]

print(student_card(*l))# if we pass postional argument with list = *list

    PIAIC Student idientity card
    Roll no: 1
    Name: Muhammad Qasim , Fathre's Name: Muhammad Aslam
    course: AI

In [71]:
d1 = {"name":"Muhammad Qasim",
     "fname":"Muhammad Aslam",
     "rollno":123,
     "course":"AI"}

print(student_card(**d1))# pass keyword argument = **dictionary

    PIAIC Student idientity card
    Roll no: 123
    Name: Muhammad Qasim , Fathre's Name: Muhammad Aslam
    course: AI

In [72]:

print(student_card(name="Muhammad Qasim",
                  fname="Muhammmad Aslam",
                  rollno=123,
                  course="AI"))

    PIAIC Student idientity card
    Roll no: 123
    Name: Muhammad Qasim , Fathre's Name: Muhammmad Aslam
    course: AI

# create keyword argument unlimited

In [69]:
def my_fn(num1,num2, **abc):# ** dictionary
    print(num1,num2,abc)
    
my_fn(7,20,len=20, age=30, course="AI")

7 20 {'len': 20, 'age': 30, 'course': 'AI'}

In [70]:
def my_fn1(num1,num3,*l1,**d1):
    print(num1,num3,l1,d1)
    
my_fn1(1,2,'a','b','c',age=20,course="AI",rollno=1)

1 2 ('a', 'b', 'c') {'age': 20, 'course': 'AI', 'rollno': 1}

# Lambda function

In [73]:
def add(num1,num2):
    return num1 + num2

add(2,20)

22

In [111]:
def add(num1):
    return num1 

a = lambda x: x[1]
a([1,2])

2

In [74]:
# lambda arg1,arg2: function_body
a = lambda num1,num2: num1 + num2
a(2,20)

22

In [77]:
data = [[1,'Z',"A"],
       [2,'Y',"B"],
       [3,'X',"C"]]

sorted(data, key=lambda x:x[1])# ascending based on second col

[[3, 'X', 'C'], [2, 'Y', 'B'], [1, 'Z', 'A']]

In [76]:
sorted(data, key=lambda x:x[0])# ascending

[[1, 'Z'], [2, 'Y'], [3, 'X']]

In [78]:
sorted(data, key=lambda x:x[2], reverse=True)

[[3, 'X', 'C'], [2, 'Y', 'B'], [1, 'Z', 'A']]

# Generator Function

In [79]:
range(1,11)

range(1, 11)

In [81]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [85]:
l1 = [1,2,3]
l2 = ['a','b','c']
l3 = zip(l1,l2)
l3

In [88]:
l3 = zip(l1,l2)
print(l3)
print(next(l3))
print(next(l3))

<zip object at 0x7f841d896410>
(1, 'a')
(2, 'b')

In [82]:
list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [84]:
for i in zip(l1,l2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [97]:
def my_gen(s,e):
    for i in range(s,e+1):
        yield i
        
        
abc = my_gen(1,10)
print(abc)
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))

<generator object my_gen at 0x7f841d4d50d0>
1
2
3
4
5
6
7
8
9
10

In [98]:
for i in  my_gen(1,10):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Recursive

In [105]:
def countdown(n):
    print(n)
    if n == 0:
        return             # Terminate recursio
    else:
        countdown(n - 1) 
countdown(5)

5
4
3
2
1
0

In [113]:
l1 = [1,2,3]
l2 = [4,5,6]
list(map(lambda x,y:x+y, l1,l2))

[5, 7, 9]

In [4]:
l=["1","2","3"]

list(map(lambda x:"Student"+x,l))

['Student1', 'Student2', 'Student3']

In [5]:
l=["1","2","3"]

def abc(x):
    return "Teacher" + str(x)

list(map(abc,l))

['Teacher1', 'Teacher2', 'Teacher3']

In [8]:
l=[1,2,3,4,5]

def abc(x):
    return "Teacher" + str(x)

list(map(abc,l))

['Teacher1', 'Teacher2', 'Teacher3', 'Teacher4', 'Teacher5']

In [10]:
[i+2 for i in l]

[3, 4, 5, 6, 7]

In [11]:
list(map(lambda x:x+2, l))

[3, 4, 5, 6, 7]

In [ ]:
7[]