# control blocks
* if
    * else
    * elif
    * finally

* while
    * break
    * continue
    * pass
* for 
    * break
    * continue
    * pass
* try:
    * except
    * finally

* class
* def

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/mqasim/anaconda3/lib/python3.7/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/mqasim/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/mqasim/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.17.3 in /home/mqasim/anaconda3/lib/python3.7/site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /home/mqasim/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
WARNING: You are using pip version 21.3.1; however, version 22.2.2 is available.
You should consider upgrading via the '/home/mqasim/anaconda3/bin/python -m pip install --upgrade pip' command.

In [ ]:
https://realpython.com/lessons/reserved-keywords/

* while
    * break
    * continue
    * pass
    
 ```
 while Logic:
     statement
     increment/decrement
 ```

In [2]:
print("Pakistan")
print("Pakistan")
print("Pakistan")
print("Pakistan")
print("Pakistan")
print("Pakistan")
print("Pakistan")
print("Pakistan")
print("Pakistan")
print("Pakistan")

Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan

In [3]:
5 == 5

True

In [4]:
if True:
    print("Pakistan")

Pakistan

In [5]:
if False:
    print("Pakistan")

while True:
    print("Pakistan")

# * while
    * logic
    * flag = counter
    * increment/decrement
    * break
    * continue
    * pass

In [8]:
counter = 0

while counter <= 10:
    print("Pakistan zinda bad!", counter)
    counter += 1

Pakistan zinda bad! 0
Pakistan zinda bad! 1
Pakistan zinda bad! 2
Pakistan zinda bad! 3
Pakistan zinda bad! 4
Pakistan zinda bad! 5
Pakistan zinda bad! 6
Pakistan zinda bad! 7
Pakistan zinda bad! 8
Pakistan zinda bad! 9
Pakistan zinda bad! 10

In [10]:
counter = 100

while counter >= 90:
    print("Pakistan zinda bad!", counter)
    counter -= 1

Pakistan zinda bad! 100
Pakistan zinda bad! 99
Pakistan zinda bad! 98
Pakistan zinda bad! 97
Pakistan zinda bad! 96
Pakistan zinda bad! 95
Pakistan zinda bad! 94
Pakistan zinda bad! 93
Pakistan zinda bad! 92
Pakistan zinda bad! 91
Pakistan zinda bad! 90

In [13]:
a = 1
print(a)
a = a + 1# old variable value add with new one
print(a)
a += 1# # old variable value add with new one
print(a)

1
2
3

In [ ]:
counter = 0 # flage

while counter <= 10:# logic
    print("Pakistan zinda bad!", counter)#statement
    counter += 1 # increment/cecrement
    
# Pakistan zinda bad 0    
# Pakistan zinda bad 1
# Pakistan zinda bad 2
..
# Pakistan zinda bad 10

In [15]:
counter = 0

while counter <= 1000000:
    print("Pakistan zinda bad!", counter)
    
    if counter == 5:
        break    
    
    counter += 1

Pakistan zinda bad! 0
Pakistan zinda bad! 1
Pakistan zinda bad! 2
Pakistan zinda bad! 3
Pakistan zinda bad! 4
Pakistan zinda bad! 5

In [16]:
counter = 0

while counter <= 1000000:
    if counter == 5:
        break    
    print("Pakistan zinda bad!", counter)

    counter += 1

Pakistan zinda bad! 0
Pakistan zinda bad! 1
Pakistan zinda bad! 2
Pakistan zinda bad! 3
Pakistan zinda bad! 4

In [17]:
counter = 0

while counter <= 1000000:
    counter += 1
    print("Pakistan zinda bad!", counter)
    if counter == 5:
        break

Pakistan zinda bad! 1
Pakistan zinda bad! 2
Pakistan zinda bad! 3
Pakistan zinda bad! 4
Pakistan zinda bad! 5

In [32]:
users = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

searc_user = input("Etner user name")
counter = 0
while counter < len(users):
    print(users[counter], counter)
    if searc_user == users[counter]:
        break
    
    counter +=1# 

# print(len(users))

Etner user nameQ
A 0
B 1
C 2
D 3
E 4
F 5
G 6
H 7
I 8
J 9
K 10
L 11
M 12
N 13
O 14
P 15
Q 16

In [33]:
users = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

searc_user = input("Etner user name")
counter = 0
while counter < len(users):    
    if searc_user == users[counter]:
        print(users[counter], counter)
        break
    
    counter +=1

# print(len(users))

Etner user nameR
R 17

In [21]:
code = 65
while code<=90:
    print(code, chr(code))
    code += 1

65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z

In [24]:
chr(122)

'z'

In [34]:
for i in [0,1,2,3,4]:
    print(i)

0
1
2
3
4

In [ ]:
for i in []:
    print(4)
    
#0
#1
#2
#3
#4

In [ ]:
for local_variable in iterated_data_type:
    print(statement)
    
iterated_data_type = list, tuple, dictionary, sequential type

In [40]:
for c in "Pakistan zinda bad!":
    print(c)

P
a
k
i
s
t
a
n

z
i
n
d
a

b
a
d
!

In [39]:
users = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
sear_u = input("Enter user")

for u in users:
    print(u)
    if u == sear_u:
        break

Enter userH
A
B
C
D
E
F
G
H

In [53]:
names = []

while True:
    name = input("Enter name| enter 'X' for exit")
    if name=="X" or name=='x':
        break
    names.append(name)
    
names

Enter name| enter 'X' for exitabc
Enter name| enter 'X' for exitabc
Enter name| enter 'X' for exitxyz
Enter name| enter 'X' for exitqasim
Enter name| enter 'X' for exitxqasim
Enter name| enter 'X' for exitqasimx
Enter name| enter 'X' for exitX

['abc', 'abc', 'xyz', 'qasim', 'xqasim', 'qasimx']

In [54]:
names = []

while True:
    name = input("Enter name| enter 'X' for exit")
    if "X" in name or 'x' in name:
        break
    names.append(name)
    
names

Enter name| enter 'X' for exitpakistan
Enter name| enter 'X' for exitabc
Enter name| enter 'X' for exitaaaxaaaa

['pakistan', 'abc']

In [59]:
names = []

names.append("A")
names.append("XZ")
names.append("A")
names.insert(0, "Pakistan")
names

['Pakistan', 'A', 'XZ', 'A']

In [43]:
studetn1 = {"id":1,
           "name":"Qasim",
           "father_name":"Muhammad Aslam",
           "education":"MSDS"}

for i in studetn1:# iterate on keys
    print(i)

id
name
father_name
education

In [45]:
studetn1 = {"id":1,
           "name":"Qasim",
           "father_name":"Muhammad Aslam",
           "education":"MSDS"}

for i in studetn1.values():# iterate on keys
    print(i)

1
Qasim
Muhammad Aslam
MSDS

In [46]:
studetn1 = {"id":1,
           "name":"Qasim",
           "father_name":"Muhammad Aslam",
           "education":"MSDS"}

for i in studetn1.keys():# iterate on keys
    print(i)

id
name
father_name
education

In [48]:
studetn1 = {"id":1,
           "name":"Qasim",
           "father_name":"Muhammad Aslam",
           "education":"MSDS"}

for i in studetn1.items():# iterate on keys
    print(i)

('id', 1)
('name', 'Qasim')
('father_name', 'Muhammad Aslam')
('education', 'MSDS')

In [49]:
studetn1 = {"id":1,
           "name":"Qasim",
           "father_name":"Muhammad Aslam",
           "education":"MSDS"}

for k,v in studetn1.items():# iterate on keys
    print(k, v)

id 1
name Qasim
father_name Muhammad Aslam
education MSDS

In [50]:
k, v = ('id', 1)
print(k)
print(v)

id
1

In [60]:
for i in range(1,11):
    print(i)# body

1
2
3
4
5
6
7
8
9
10

In [64]:
for i in range(1,11):
    print(i*i)# body
[i*i for i in range(1,11)]

1
4
9
16
25
36
49
64
81
100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
list((i*i for i in range(1,11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
{i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [71]:
{code:chr(code) for code in range(0,255)}

{0: '\x00',
 1: '\x01',
 2: '\x02',
 3: '\x03',
 4: '\x04',
 5: '\x05',
 6: '\x06',
 7: '\x07',
 8: '\x08',
 9: '\t',
 10: '\n',
 11: '\x0b',
 12: '\x0c',
 13: '\r',
 14: '\x0e',
 15: '\x0f',
 16: '\x10',
 17: '\x11',
 18: '\x12',
 19: '\x13',
 20: '\x14',
 21: '\x15',
 22: '\x16',
 23: '\x17',
 24: '\x18',
 25: '\x19',
 26: '\x1a',
 27: '\x1b',
 28: '\x1c',
 29: '\x1d',
 30: '\x1e',
 31: '\x1f',
 32: ' ',
 33: '!',
 34: '"',
 35: '#',
 36: '$',
 37: '%',
 38: '&',
 39: "'",
 40: '(',
 41: ')',
 42: '*',
 43: '+',
 44: ',',
 45: '-',
 46: '.',
 47: '/',
 48: '0',
 49: '1',
 50: '2',
 51: '3',
 52: '4',
 53: '5',
 54: '6',
 55: '7',
 56: '8',
 57: '9',
 58: ':',
 59: ';',
 60: '<',
 61: '=',
 62: '>',
 63: '?',
 64: '@',
 65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z',
 91: '[',
 92: '\\',
 93: ']',
 94: '^',
 95: '_',
 96: '`',
 97: 'a',
 98: 'b',
 99: 'c',
 100: 'd',
 101: 'e',
 102: 'f',
 103: 'g',
 104: 'h',
 105: 'i',
 106: 'j',
 107: 'k',
 108: 'l',
 109: 'm',
 110: 'n',
 111: 'o',
 112: 'p',
 113: 'q',
 114: 'r',
 115: 's',
 116: 't',
 117: 'u',
 118: 'v',
 119: 'w',
 120: 'x',
 121: 'y',
 122: 'z',
 123: '{',
 124: '|',
 125: '}',
 126: '~',
 127: '\x7f',
 128: '\x80',
 129: '\x81',
 130: '\x82',
 131: '\x83',
 132: '\x84',
 133: '\x85',
 134: '\x86',
 135: '\x87',
 136: '\x88',
 137: '\x89',
 138: '\x8a',
 139: '\x8b',
 140: '\x8c',
 141: '\x8d',
 142: '\x8e',
 143: '\x8f',
 144: '\x90',
 145: '\x91',
 146: '\x92',
 147: '\x93',
 148: '\x94',
 149: '\x95',
 150: '\x96',
 151: '\x97',
 152: '\x98',
 153: '\x99',
 154: '\x9a',
 155: '\x9b',
 156: '\x9c',
 157: '\x9d',
 158: '\x9e',
 159: '\x9f',
 160: '\xa0',
 161: '¡',
 162: '¢',
 163: '£',
 164: '¤',
 165: '¥',
 166: '¦',
 167: '§',
 168: '¨',
 169: '©',
 170: 'ª',
 171: '«',
 172: '¬',
 173: '\xad',
 174: '®',
 175: '¯',
 176: '°',
 177: '±',
 178: '²',
 179: '³',
 180: '´',
 181: 'µ',
 182: '¶',
 183: '·',
 184: '¸',
 185: '¹',
 186: 'º',
 187: '»',
 188: '¼',
 189: '½',
 190: '¾',
 191: '¿',
 192: 'À',
 193: 'Á',
 194: 'Â',
 195: 'Ã',
 196: 'Ä',
 197: 'Å',
 198: 'Æ',
 199: 'Ç',
 200: 'È',
 201: 'É',
 202: 'Ê',
 203: 'Ë',
 204: 'Ì',
 205: 'Í',
 206: 'Î',
 207: 'Ï',
 208: 'Ð',
 209: 'Ñ',
 210: 'Ò',
 211: 'Ó',
 212: 'Ô',
 213: 'Õ',
 214: 'Ö',
 215: '×',
 216: 'Ø',
 217: 'Ù',
 218: 'Ú',
 219: 'Û',
 220: 'Ü',
 221: 'Ý',
 222: 'Þ',
 223: 'ß',
 224: 'à',
 225: 'á',
 226: 'â',
 227: 'ã',
 228: 'ä',
 229: 'å',
 230: 'æ',
 231: 'ç',
 232: 'è',
 233: 'é',
 234: 'ê',
 235: 'ë',
 236: 'ì',
 237: 'í',
 238: 'î',
 239: 'ï',
 240: 'ð',
 241: 'ñ',
 242: 'ò',
 243: 'ó',
 244: 'ô',
 245: 'õ',
 246: 'ö',
 247: '÷',
 248: 'ø',
 249: 'ù',
 250: 'ú',
 251: 'û',
 252: 'ü',
 253: 'ý',
 254: 'þ'}

In [69]:
{code:chr(code) for code in range(97,122)}

{97: 'a',
 98: 'b',
 99: 'c',
 100: 'd',
 101: 'e',
 102: 'f',
 103: 'g',
 104: 'h',
 105: 'i',
 106: 'j',
 107: 'k',
 108: 'l',
 109: 'm',
 110: 'n',
 111: 'o',
 112: 'p',
 113: 'q',
 114: 'r',
 115: 's',
 116: 't',
 117: 'u',
 118: 'v',
 119: 'w',
 120: 'x',
 121: 'y'}

# list comprehensive style

In [61]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Nested loop

In [73]:
for row in range(1,11):
    print(row, "a"*row)

1 a
2 aa
3 aaa
4 aaaa
5 aaaaa
6 aaaaaa
7 aaaaaaa
8 aaaaaaaa
9 aaaaaaaaa
10 aaaaaaaaaa

In [87]:
for row in range(1,27):
    print(row, end="\t")
    for c in range(65,65+row):
        print(chr(c), end=" ")
    print("")

1	A
2	A B
3	A B C
4	A B C D
5	A B C D E
6	A B C D E F
7	A B C D E F G
8	A B C D E F G H
9	A B C D E F G H I
10	A B C D E F G H I J
11	A B C D E F G H I J K
12	A B C D E F G H I J K L
13	A B C D E F G H I J K L M
14	A B C D E F G H I J K L M N
15	A B C D E F G H I J K L M N O
16	A B C D E F G H I J K L M N O P
17	A B C D E F G H I J K L M N O P Q
18	A B C D E F G H I J K L M N O P Q R
19	A B C D E F G H I J K L M N O P Q R S
20	A B C D E F G H I J K L M N O P Q R S T
21	A B C D E F G H I J K L M N O P Q R S T U
22	A B C D E F G H I J K L M N O P Q R S T U V
23	A B C D E F G H I J K L M N O P Q R S T U V W
24	A B C D E F G H I J K L M N O P Q R S T U V W X
25	A B C D E F G H I J K L M N O P Q R S T U V W X Y
26	A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [94]:
[(i,j) for i in range(1,26) for j in range(65,65+i)]

[(1, 65),
 (2, 65),
 (2, 66),
 (3, 65),
 (3, 66),
 (3, 67),
 (4, 65),
 (4, 66),
 (4, 67),
 (4, 68),
 (5, 65),
 (5, 66),
 (5, 67),
 (5, 68),
 (5, 69),
 (6, 65),
 (6, 66),
 (6, 67),
 (6, 68),
 (6, 69),
 (6, 70),
 (7, 65),
 (7, 66),
 (7, 67),
 (7, 68),
 (7, 69),
 (7, 70),
 (7, 71),
 (8, 65),
 (8, 66),
 (8, 67),
 (8, 68),
 (8, 69),
 (8, 70),
 (8, 71),
 (8, 72),
 (9, 65),
 (9, 66),
 (9, 67),
 (9, 68),
 (9, 69),
 (9, 70),
 (9, 71),
 (9, 72),
 (9, 73),
 (10, 65),
 (10, 66),
 (10, 67),
 (10, 68),
 (10, 69),
 (10, 70),
 (10, 71),
 (10, 72),
 (10, 73),
 (10, 74),
 (11, 65),
 (11, 66),
 (11, 67),
 (11, 68),
 (11, 69),
 (11, 70),
 (11, 71),
 (11, 72),
 (11, 73),
 (11, 74),
 (11, 75),
 (12, 65),
 (12, 66),
 (12, 67),
 (12, 68),
 (12, 69),
 (12, 70),
 (12, 71),
 (12, 72),
 (12, 73),
 (12, 74),
 (12, 75),
 (12, 76),
 (13, 65),
 (13, 66),
 (13, 67),
 (13, 68),
 (13, 69),
 (13, 70),
 (13, 71),
 (13, 72),
 (13, 73),
 (13, 74),
 (13, 75),
 (13, 76),
 (13, 77),
 (14, 65),
 (14, 66),
 (14, 67),
 (14, 68),
 (14, 69),
 (14, 70),
 (14, 71),
 (14, 72),
 (14, 73),
 (14, 74),
 (14, 75),
 (14, 76),
 (14, 77),
 (14, 78),
 (15, 65),
 (15, 66),
 (15, 67),
 (15, 68),
 (15, 69),
 (15, 70),
 (15, 71),
 (15, 72),
 (15, 73),
 (15, 74),
 (15, 75),
 (15, 76),
 (15, 77),
 (15, 78),
 (15, 79),
 (16, 65),
 (16, 66),
 (16, 67),
 (16, 68),
 (16, 69),
 (16, 70),
 (16, 71),
 (16, 72),
 (16, 73),
 (16, 74),
 (16, 75),
 (16, 76),
 (16, 77),
 (16, 78),
 (16, 79),
 (16, 80),
 (17, 65),
 (17, 66),
 (17, 67),
 (17, 68),
 (17, 69),
 (17, 70),
 (17, 71),
 (17, 72),
 (17, 73),
 (17, 74),
 (17, 75),
 (17, 76),
 (17, 77),
 (17, 78),
 (17, 79),
 (17, 80),
 (17, 81),
 (18, 65),
 (18, 66),
 (18, 67),
 (18, 68),
 (18, 69),
 (18, 70),
 (18, 71),
 (18, 72),
 (18, 73),
 (18, 74),
 (18, 75),
 (18, 76),
 (18, 77),
 (18, 78),
 (18, 79),
 (18, 80),
 (18, 81),
 (18, 82),
 (19, 65),
 (19, 66),
 (19, 67),
 (19, 68),
 (19, 69),
 (19, 70),
 (19, 71),
 (19, 72),
 (19, 73),
 (19, 74),
 (19, 75),
 (19, 76),
 (19, 77),
 (19, 78),
 (19, 79),
 (19, 80),
 (19, 81),
 (19, 82),
 (19, 83),
 (20, 65),
 (20, 66),
 (20, 67),
 (20, 68),
 (20, 69),
 (20, 70),
 (20, 71),
 (20, 72),
 (20, 73),
 (20, 74),
 (20, 75),
 (20, 76),
 (20, 77),
 (20, 78),
 (20, 79),
 (20, 80),
 (20, 81),
 (20, 82),
 (20, 83),
 (20, 84),
 (21, 65),
 (21, 66),
 (21, 67),
 (21, 68),
 (21, 69),
 (21, 70),
 (21, 71),
 (21, 72),
 (21, 73),
 (21, 74),
 (21, 75),
 (21, 76),
 (21, 77),
 (21, 78),
 (21, 79),
 (21, 80),
 (21, 81),
 (21, 82),
 (21, 83),
 (21, 84),
 (21, 85),
 (22, 65),
 (22, 66),
 (22, 67),
 (22, 68),
 (22, 69),
 (22, 70),
 (22, 71),
 (22, 72),
 (22, 73),
 (22, 74),
 (22, 75),
 (22, 76),
 (22, 77),
 (22, 78),
 (22, 79),
 (22, 80),
 (22, 81),
 (22, 82),
 (22, 83),
 (22, 84),
 (22, 85),
 (22, 86),
 (23, 65),
 (23, 66),
 (23, 67),
 (23, 68),
 (23, 69),
 (23, 70),
 (23, 71),
 (23, 72),
 (23, 73),
 (23, 74),
 (23, 75),
 (23, 76),
 (23, 77),
 (23, 78),
 (23, 79),
 (23, 80),
 (23, 81),
 (23, 82),
 (23, 83),
 (23, 84),
 (23, 85),
 (23, 86),
 (23, 87),
 (24, 65),
 (24, 66),
 (24, 67),
 (24, 68),
 (24, 69),
 (24, 70),
 (24, 71),
 (24, 72),
 (24, 73),
 (24, 74),
 (24, 75),
 (24, 76),
 (24, 77),
 (24, 78),
 (24, 79),
 (24, 80),
 (24, 81),
 (24, 82),
 (24, 83),
 (24, 84),
 (24, 85),
 (24, 86),
 (24, 87),
 (24, 88),
 (25, 65),
 (25, 66),
 (25, 67),
 (25, 68),
 (25, 69),
 (25, 70),
 (25, 71),
 (25, 72),
 (25, 73),
 (25, 74),
 (25, 75),
 (25, 76),
 (25, 77),
 (25, 78),
 (25, 79),
 (25, 80),
 (25, 81),
 (25, 82),
 (25, 83),
 (25, 84),
 (25, 85),
 (25, 86),
 (25, 87),
 (25, 88),
 (25, 89)]

In [95]:
[(i,chr(j)) for i in range(1,26) for j in range(65,65+i)]

[(1, 'A'),
 (2, 'A'),
 (2, 'B'),
 (3, 'A'),
 (3, 'B'),
 (3, 'C'),
 (4, 'A'),
 (4, 'B'),
 (4, 'C'),
 (4, 'D'),
 (5, 'A'),
 (5, 'B'),
 (5, 'C'),
 (5, 'D'),
 (5, 'E'),
 (6, 'A'),
 (6, 'B'),
 (6, 'C'),
 (6, 'D'),
 (6, 'E'),
 (6, 'F'),
 (7, 'A'),
 (7, 'B'),
 (7, 'C'),
 (7, 'D'),
 (7, 'E'),
 (7, 'F'),
 (7, 'G'),
 (8, 'A'),
 (8, 'B'),
 (8, 'C'),
 (8, 'D'),
 (8, 'E'),
 (8, 'F'),
 (8, 'G'),
 (8, 'H'),
 (9, 'A'),
 (9, 'B'),
 (9, 'C'),
 (9, 'D'),
 (9, 'E'),
 (9, 'F'),
 (9, 'G'),
 (9, 'H'),
 (9, 'I'),
 (10, 'A'),
 (10, 'B'),
 (10, 'C'),
 (10, 'D'),
 (10, 'E'),
 (10, 'F'),
 (10, 'G'),
 (10, 'H'),
 (10, 'I'),
 (10, 'J'),
 (11, 'A'),
 (11, 'B'),
 (11, 'C'),
 (11, 'D'),
 (11, 'E'),
 (11, 'F'),
 (11, 'G'),
 (11, 'H'),
 (11, 'I'),
 (11, 'J'),
 (11, 'K'),
 (12, 'A'),
 (12, 'B'),
 (12, 'C'),
 (12, 'D'),
 (12, 'E'),
 (12, 'F'),
 (12, 'G'),
 (12, 'H'),
 (12, 'I'),
 (12, 'J'),
 (12, 'K'),
 (12, 'L'),
 (13, 'A'),
 (13, 'B'),
 (13, 'C'),
 (13, 'D'),
 (13, 'E'),
 (13, 'F'),
 (13, 'G'),
 (13, 'H'),
 (13, 'I'),
 (13, 'J'),
 (13, 'K'),
 (13, 'L'),
 (13, 'M'),
 (14, 'A'),
 (14, 'B'),
 (14, 'C'),
 (14, 'D'),
 (14, 'E'),
 (14, 'F'),
 (14, 'G'),
 (14, 'H'),
 (14, 'I'),
 (14, 'J'),
 (14, 'K'),
 (14, 'L'),
 (14, 'M'),
 (14, 'N'),
 (15, 'A'),
 (15, 'B'),
 (15, 'C'),
 (15, 'D'),
 (15, 'E'),
 (15, 'F'),
 (15, 'G'),
 (15, 'H'),
 (15, 'I'),
 (15, 'J'),
 (15, 'K'),
 (15, 'L'),
 (15, 'M'),
 (15, 'N'),
 (15, 'O'),
 (16, 'A'),
 (16, 'B'),
 (16, 'C'),
 (16, 'D'),
 (16, 'E'),
 (16, 'F'),
 (16, 'G'),
 (16, 'H'),
 (16, 'I'),
 (16, 'J'),
 (16, 'K'),
 (16, 'L'),
 (16, 'M'),
 (16, 'N'),
 (16, 'O'),
 (16, 'P'),
 (17, 'A'),
 (17, 'B'),
 (17, 'C'),
 (17, 'D'),
 (17, 'E'),
 (17, 'F'),
 (17, 'G'),
 (17, 'H'),
 (17, 'I'),
 (17, 'J'),
 (17, 'K'),
 (17, 'L'),
 (17, 'M'),
 (17, 'N'),
 (17, 'O'),
 (17, 'P'),
 (17, 'Q'),
 (18, 'A'),
 (18, 'B'),
 (18, 'C'),
 (18, 'D'),
 (18, 'E'),
 (18, 'F'),
 (18, 'G'),
 (18, 'H'),
 (18, 'I'),
 (18, 'J'),
 (18, 'K'),
 (18, 'L'),
 (18, 'M'),
 (18, 'N'),
 (18, 'O'),
 (18, 'P'),
 (18, 'Q'),
 (18, 'R'),
 (19, 'A'),
 (19, 'B'),
 (19, 'C'),
 (19, 'D'),
 (19, 'E'),
 (19, 'F'),
 (19, 'G'),
 (19, 'H'),
 (19, 'I'),
 (19, 'J'),
 (19, 'K'),
 (19, 'L'),
 (19, 'M'),
 (19, 'N'),
 (19, 'O'),
 (19, 'P'),
 (19, 'Q'),
 (19, 'R'),
 (19, 'S'),
 (20, 'A'),
 (20, 'B'),
 (20, 'C'),
 (20, 'D'),
 (20, 'E'),
 (20, 'F'),
 (20, 'G'),
 (20, 'H'),
 (20, 'I'),
 (20, 'J'),
 (20, 'K'),
 (20, 'L'),
 (20, 'M'),
 (20, 'N'),
 (20, 'O'),
 (20, 'P'),
 (20, 'Q'),
 (20, 'R'),
 (20, 'S'),
 (20, 'T'),
 (21, 'A'),
 (21, 'B'),
 (21, 'C'),
 (21, 'D'),
 (21, 'E'),
 (21, 'F'),
 (21, 'G'),
 (21, 'H'),
 (21, 'I'),
 (21, 'J'),
 (21, 'K'),
 (21, 'L'),
 (21, 'M'),
 (21, 'N'),
 (21, 'O'),
 (21, 'P'),
 (21, 'Q'),
 (21, 'R'),
 (21, 'S'),
 (21, 'T'),
 (21, 'U'),
 (22, 'A'),
 (22, 'B'),
 (22, 'C'),
 (22, 'D'),
 (22, 'E'),
 (22, 'F'),
 (22, 'G'),
 (22, 'H'),
 (22, 'I'),
 (22, 'J'),
 (22, 'K'),
 (22, 'L'),
 (22, 'M'),
 (22, 'N'),
 (22, 'O'),
 (22, 'P'),
 (22, 'Q'),
 (22, 'R'),
 (22, 'S'),
 (22, 'T'),
 (22, 'U'),
 (22, 'V'),
 (23, 'A'),
 (23, 'B'),
 (23, 'C'),
 (23, 'D'),
 (23, 'E'),
 (23, 'F'),
 (23, 'G'),
 (23, 'H'),
 (23, 'I'),
 (23, 'J'),
 (23, 'K'),
 (23, 'L'),
 (23, 'M'),
 (23, 'N'),
 (23, 'O'),
 (23, 'P'),
 (23, 'Q'),
 (23, 'R'),
 (23, 'S'),
 (23, 'T'),
 (23, 'U'),
 (23, 'V'),
 (23, 'W'),
 (24, 'A'),
 (24, 'B'),
 (24, 'C'),
 (24, 'D'),
 (24, 'E'),
 (24, 'F'),
 (24, 'G'),
 (24, 'H'),
 (24, 'I'),
 (24, 'J'),
 (24, 'K'),
 (24, 'L'),
 (24, 'M'),
 (24, 'N'),
 (24, 'O'),
 (24, 'P'),
 (24, 'Q'),
 (24, 'R'),
 (24, 'S'),
 (24, 'T'),
 (24, 'U'),
 (24, 'V'),
 (24, 'W'),
 (24, 'X'),
 (25, 'A'),
 (25, 'B'),
 (25, 'C'),
 (25, 'D'),
 (25, 'E'),
 (25, 'F'),
 (25, 'G'),
 (25, 'H'),
 (25, 'I'),
 (25, 'J'),
 (25, 'K'),
 (25, 'L'),
 (25, 'M'),
 (25, 'N'),
 (25, 'O'),
 (25, 'P'),
 (25, 'Q'),
 (25, 'R'),
 (25, 'S'),
 (25, 'T'),
 (25, 'U'),
 (25, 'V'),
 (25, 'W'),
 (25, 'X'),
 (25, 'Y')]

In [103]:
data = [[1,2,3],
       [4,5,7],
       [20,21,25]]

for row in data:
    for c in row:
        print(c)
    print()

1
2
3

4
5
7

20
21
25

In [104]:
for row in data:
    for c in row:
        print(c, end=" ")
    print()

1 2 3
4 5 7
20 21 25

In [107]:
counter = 0
while counter <= 10:
    counter+=1
    if counter == 5:
        continue# skip
    print(counter)

1
2
3
4
6
7
8
9
10
11

In [108]:
if True:
    print("Pakistan")

Pakistan

In [110]:
if True:

SyntaxError: unexpected EOF while parsing (<ipython-input-110-2c8a33b52dfb>, line 1)

In [109]:
if True:
    pass

In [111]:
if True:
    pass
    print("pakistan")

pakistan

In [112]:
for i in range(1,10):
    pass

In [113]:
a = 5
b = 5
print(id(a))
print(id(b))

94151001777024
94151001777024

# attendance

In [124]:
import re
with open("meeting_saved_chat.txt") as f:
    l = f.readlines()# lines as list loaded
    attendance = []
    for row in l:
        a = re.findall(r'[0-9]{5,6}\b',row)
        if len(a)>=1 and a[0] not in attendance:
            attendance.append(a[0])
            
print(len(attendance))
attendance

166

['178950',
 '188523',
 '181638',
 '185558',
 '59115',
 '183349',
 '185754',
 '173431',
 '172478',
 '182023',
 '188401',
 '180996',
 '170982',
 '128778',
 '55300',
 '182352',
 '107890',
 '177535',
 '178354',
 '189427',
 '130669',
 '171375',
 '175331',
 '176719',
 '185253',
 '164763',
 '171658',
 '134239',
 '180028',
 '189261',
 '129260',
 '174016',
 '103786',
 '74287',
 '172998',
 '52499',
 '189416',
 '168894',
 '133452',
 '133985',
 '172924',
 '101207',
 '173652',
 '74182',
 '176945',
 '172541',
 '180280',
 '188727',
 '164489',
 '168703',
 '166522',
 '68513',
 '172147',
 '131885',
 '175139',
 '182978',
 '185394',
 '57947',
 '173701',
 '49583',
 '180111',
 '91925',
 '178248',
 '175167',
 '186218',
 '131496',
 '175761',
 '182239',
 '152592',
 '183812',
 '133544',
 '176168',
 '128409',
 '178751',
 '172797',
 '174751',
 '185099',
 '84989',
 '187831',
 '132619',
 '185674',
 '116704',
 '176880',
 '151960',
 '177982',
 '62922',
 '182641',
 '139339',
 '139392',
 '116498',
 '95846',
 '165097',
 '181221',
 '172238',
 '172235',
 '184298',
 '99685',
 '174229',
 '150034',
 '168092',
 '132123',
 '142650',
 '185122',
 '187530',
 '113830',
 '143001',
 '188433',
 '170928',
 '012105',
 '176439',
 '121514',
 '174047',
 '178547',
 '96020',
 '005259',
 '185636',
 '172641',
 '66597',
 '173795',
 '179345',
 '168751',
 '139458',
 '133802',
 '157450',
 '187644',
 '187118',
 '188172',
 '159833',
 '176190',
 '67260',
 '183887',
 '183730',
 '133488',
 '172527',
 '180144',
 '183270',
 '163577',
 '172695',
 '176697',
 '182763',
 '96879',
 '95349',
 '174125',
 '91698',
 '188720',
 '187258',
 '125164',
 '123437',
 '181896',
 '149493',
 '169528',
 '180162',
 '60925',
 '048687',
 '155482',
 '174416',
 '175646',
 '171408',
 '183459',
 '55486',
 '185213',
 '180057',
 '172941',
 '171445',
 '172525',
 '186252']

In [120]:
r"pakistan \n"

'pakistan \\n'

In [130]:
txt = "pakistan 12345 pakistan 789456 xyz 45698 ab123456xyz"

re.findall(r'[0-9]{5,6}\b',txt)

['12345', '789456', '45698']

In [132]:
import pandas as pd

df = pd.DataFrame({
    "cancer type": ["bone cancer"],
    "types":[["bn cancer","bone"]]
})
df

   cancer type              types
0  bone cancer  [bn cancer, bone]